---
import Header from "@components/Header.astro";
import "@fontsource/be-vietnam-pro";
import "@fontsource-variable/gabarito";
import { SITE_CONFIG } from "@config";
import Footer from "@components/Footer.astro";
import ThreeScene from "@components/ThreeScene.astro";

const {
  title,
  description,
  siteLogo,
  navLinks,
  lang,
  author,
  socialLinks,
  socialImage,
  canonicalURL = new URL(Astro.url.pathname, Astro.site).href,
} = SITE_CONFIG;

const ogImgUrl = canonicalURL + socialImage;
---

<!doctype html>
<html lang={lang} class="scroll-smooth scroll-pt-16">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="author" content={author} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/ico" href="/hacker_101114.ico" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Press+Start+2P&family=Special+Elite&display=swap" />
    <link href="https://fonts.googleapis.com/css2?family=Lugrasimo&family=Monoton&family=Notable&family=Uncial+Antiqua&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/main.css" />
    <title>{title}</title>

    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content={canonicalURL} />
    <meta property="og:image" content={ogImgUrl} />

    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={canonicalURL} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={ogImgUrl} />
  
  </head>
  <body class="font-sans bg-black">
    <Header siteLogo={siteLogo} navLinks={navLinks} />
    <div class="absolute w-full h-screen -z-10 overflow-hidden">
      <ThreeScene className="md:-top-96 -top-[34rem] -right-2/4 absolute !w-[150%]"/>
    </div>
    <main class="max-w-3xl px-5 mx-auto">
      <slot />
    </main>
    <Footer author={author} socialLinks={socialLinks} />
  </body>
</html>
