---
import Header from "@components/Header.astro";
import "@fontsource/be-vietnam-pro";
import "@fontsource-variable/gabarito";
import { SITE_CONFIG } from "@config";
import Footer from "@components/Footer.astro";
import ThreeScene from "@components/ThreeScene.astro";

interface Window {
  dataLayer: any[];
}

const {
  title,
  description,
  siteLogo,
  navLinks,
  lang,
  author,
  socialLinks,
  socialImage,
  canonicalURL = new URL(Astro.url.pathname, Astro.site).href,
} = SITE_CONFIG;

const ogImgUrl = canonicalURL + socialImage;
---

<!doctype html>
<html lang={lang} class="scroll-smooth scroll-pt-16">
  <head>
  <!-- Google tag (gtag.js) -->
    <script  async src="https://www.googletagmanager.com/gtag/js?id=G-KDMG4W2HJG"></script>
    <script type="text/partytown">
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-KDMG4W2HJG');
    </script>
    <!-- Google Tag Manager -->
    <script type="text/partytown" define:vars={{ GTM_ID: 'GTM-KXCVHPJ5' }}>
      window.dataLayer = window.dataLayer || [];
      (function(w,d,s,l,i){
        w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});
        var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';
        j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;
        f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer',GTM_ID);
    </script>
    <!-- End Google Tag Manager -->
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="author" content={author} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/ico" href="/hacker_101114.ico" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Press+Start+2P&family=Special+Elite&display=swap" />
    <link href="https://fonts.googleapis.com/css2?family=Lugrasimo&family=Monoton&family=Notable&family=Uncial+Antiqua&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/main.css" />
    <title>{title}</title>

    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content={canonicalURL} />
    <meta property="og:image" content={ogImgUrl} />

    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={canonicalURL} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={ogImgUrl} />
  
  </head>
  <body class="font-sans bg-black">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KXCVHPJ5"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <Header siteLogo={siteLogo} navLinks={navLinks} />
    <div class="absolute w-full h-screen -z-10 overflow-hidden">
      <ThreeScene className="md:-top-96 -top-[34rem] -right-2/4 absolute !w-[150%]"/>
    </div>
    <main class="max-w-3xl px-5 mx-auto">
      <slot />
    </main>
    <Footer author={author} socialLinks={socialLinks} />
  </body>
</html>
